<html>
<head>
<link rel="shortcut icon" href="/../img/favicon.ico" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" type="text/css" href="/../css/yucibot.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
<% if (locals.mod != true) { %>
window.location.replace("/403")
<% } %>
</script>
<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
<meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
<meta http-equiv="pragma" content="no-cache">
<title>Yucibot</title>
</head>
<body>
<% if (locals.login == true) { %>
<div id="name"><%= locals.name %> &#9660;</div>
<div class="profile hidden">
  <p id="menu">
    <img src="<%= locals.pf %>" id="pf" width="50" height="50">
    <u>Hey there <%= locals.name %>!</u><br>
    <a href='/user/<%= locals.name %>'>User page</a> <span class="profLeft">Points: <%= locals.points %></span> <br>
    <a href='/logout'>Logout</a> <span class="profLeft">Lines: <%= locals.num_lines %></span>
  </p>
</div>
<% } else { %>
<button id="loginBtn"><a href="/login">Login</a></button>
<% } %>
<div id="menuIconClosed">&#9776;</div>
<div id="menuIconOpen">&#735;</div>
<div class="search"><input id="searchBar" type="text" placeholder="Username"></div>
<div>
<% if (locals.mod == true) { %>
<% include ../../static/html/adminmenu.htm %>
<% } else { %>
<% include ../../static/html/menu.htm %>
<% } %>
</div>
<div class="search"><input id="searchBar" type="text" placeholder="Username"></div>
